@model UserLinkViewModel

<li class="nav-item">
    <a class="nav-link" asp-route-id="@Model.Id" asp-action="Profile" asp-controller="Account">@Model.Name</a>
</li>
<li class="nav-item">

    <a asp-route-id="@Model.Id" asp-action="Profile" asp-controller="Account">
        <img class="nav-link rounded-circle" alt="@Model.Name" 
        style="width:3rem;height:3rem" src="/images/200_@Model.Image">
    </a>
</li>
