<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Адмін панель</title> 
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   
</head>
<body>
   
    <div class="d-flex min-vh-100">
        
        <div class="bg-dark text-white p-3" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 fs-4 text-white text-decoration-none">
                Чудік
            </a>
            <hr style="border-top: 2px solid white;">
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a asp-action="Index" asp-controller="Users" asp-area="Admin" class="nav-link text-white">Користувачі</a>
                </li>
               
            </ul>
            <hr>
        </div>

        
        <div class="flex-grow-1 p-4 bg-light">
            @RenderBody()
        </div>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>