@model CreateViewModel

@{
    ViewData["Title"] = "Зареєструватися";
}

<form asp-action="Create" method="post" enctype="multipart/form-data" class="p-4 shadow rounded bg-light my-5" style="max-width: 600px; margin: auto;">
    <h2 class="mb-4">Створити акаунт</h2>


    <div class="row">
        <div class="mb-3 text-center">
            <label asp-for="ImageFile" class="d-block">
                <img id="defaultAvatar"
                     src="/pictures/default.png"
                     alt="Аватар"
                     class="rounded-circle border"
                     style="width: 150px; height: 150px; object-fit: cover; cursor: pointer;" />

                <div id="croppedPreview"
                     class="rounded-circle border d-none mx-auto"
                     style="width: 150px; height: 150px; object-fit: cover; overflow: hidden; cursor: pointer"></div>
            </label>

            <input asp-for="ImageFile"
                   type="file"
                   id="ImageFile"
                   accept="image/*"
                   class="d-none" />
            <input type="hidden" id="croppedImageData" name="CroppedImage" />
        </div>

        @await Html.PartialAsync("_ImageCropper")
    </div>
    <div class="row g-3">
        <div class="col-md-6 mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-md-6 mb-3">
            <label asp-for="UserName" class="form-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-md-6 mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>



    <button type="submit" class="btn btn-primary my-2" style="margin-left:36%;">Зареєструватися</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script src="/js/cropper.min.js"></script>
    <script src="/js/cropImageOnForm.js"></script>
}