@model ForgotPasswordViewModel


@{
    ViewData["Title"] = "Відновлення паролю";
}

@* @{
    Layout = "_EnterPageLayout";
}
 *@

<div class="offset-md-3 col-md-6">
    <form asp-action="ForgotPassword" method="post" enctype="multipart/form-data" class="p-4 shadow rounded bg-light my-5" style="max-width: 400px; margin: auto;">
    <h2 class="mb-4">@ViewData["Title"]</h2>


    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <input type="submit" value="Відновити" class="btn btn-primary" />
       
    </div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

