@using System.Text.RegularExpressions
@model ProductListViewModel

<div class="container mt-5">
    <h2 class="text-center mb-4">Категорії</h2>

    @await Html.PartialAsync("_ProductSearchItems", Model.Search)


    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        <a asp-controller="Products" asp-action="Create" class="btn btn-success">Додати</a>
    }
    @await Html.PartialAsync("_ListProductItems", Model.Products)

    </div>

