@model UserCreateViewModel

@{
    ViewData["Title"] = "Увійти";
}

@{
    Layout = "_EnterPageLayout";
}


<form asp-action="Login" method="post" enctype="multipart/form-data" class="p-4 shadow rounded bg-light my-5" style="max-width: 600px; margin: auto;">
    <h2 class="mb-4">Увійти в акаунт</h2>
    

    <div class="mb-3">
        <label asp-for="Nickname" class="form-label"></label>
        <input asp-for="Nickname" class="form-control" />
        <span asp-validation-for="Nickname" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary my-2" style="margin-left:36%;">Увійти</button>
</form>

